<aside id="aside">
    <div>
       <a href="">Send Message</a>
       <a href="">Send Files</a>
       <a href="">Send Location</a>
       <a href="">Notification</a>
     </div>
    <a href="">Logout</a> 
</aside>
