<footer class="mt-12 bg-yellow-200 pb-10">
    <div class="grid grid-cols-3 gap-6 p-4 border-b border-gray-200 phone:block phone:space-y-6">
        <div>
            <h2 class="font-bold text-md">MyStore</h2>
            <ul class="text-sm space-y-2 mt-2">
                <li><a href="">Shipping and Refund Policy</a></li>
                <li><a href="">About Us and FAQs</a></li>
                <li><a href="">Contact Us</a></li>
            </ul>
        </div>
        <div>
            <h2 class="font-bold text-md">Contact us</h2>
            <ul class="text-sm space-y-6 mt-2">
                <div class="space-y-1">
                    <li>Email,mystore@gmail.com</li>
                    <li>Call, (+231)812263301</li>
                    <li>Whatsapp, (+231)812263301</li>
                </div>
                <div>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                    <li>Pinterest</li>
                </div>
            </ul>
        </div>
        <div class="space-y-2">
            <h2>Sign Up To Our Newsletter</h2>
            <form action="" class="">
                <input type="text" class="bg-transparent p-1 border-2 bd rounded-full"> <br><br>
                <a href="" class="p-2 mt-4 rounded-full hover:bg-yellow-300 hover:text-white phone:bg-yellow-300">SIGN UP</a>
            </form>
            <p class="text-xs">SignUp to get the latest updates from us</p>
        </div>
    </div>
    <div>
        <p class="copyright">Copyright &copy; MyStore 2020</p>
    </div>
</footer>
</div>
<script src="/js/burger.js"></script>

