<% if (message.type) { %>
    <div class="bg-<%=message.type%>-50 p-3 text-<%=message.type%>-500 p-3 mx-auto w-10/12">
        <p class="text-center"><%= message.body %></p>
    </div>
<% } %>
<nav id="nav">
    <h2>User one</h2>
    <p>Online</p>
    <p>+234 8102603301</p>
     
</nav>
